</head>
    <body>
    <div class="login-box">
        <h1>Delete Inventory</h1>
            <form method="GET" action="{% url 'delete' %}">    
            
            <p>Name</p>
            <input type="text" name="Name" placeholder="Enter Name">
            <p>Comment</p>
            <input type="text" name="Comment" placeholder="Enter comment">


        
           <br>
            <input type="submit" name="submit">

        
        <br>
            </form>
        </div>    
    </body>
</html>